@font-face {
    font-family: 'Smythe';
    font-style: normal;
    font-weight: 400;
    src: local('Smythe'), url('Smythe-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Smythe', sans-serif;
}

#container {
    display: block;
    margin: 0 auto;
    width: 600px;
}

/* layout */
header {
    display: flex;
    flex-direction: column;
    background-image: url("images/header-photo.png");
    background-size: cover;
    padding: 46px 0 55px 46px;
    color:#FFF;
}

#menu-list {
    padding: 0 46px;
    display: block;
}

#order-summary {
    display: none;
    padding: 0 46px 55px 46px;
}

/* typography */
#title {
    margin: 0;
    font-size: 39px;
    height: 24px;
    line-height: 24px;
}

#subtitle {
    margin: 16px 0 0 0;
    font-size: 22px;
    line-height: 22px;
}

/* menu item */
.menu-item {
    box-sizing: content-box;
    display: flex;
    gap: 30px;
    padding: 50px 0;
    border-bottom: 1px solid #D2D2D2;
}

.item-emoji {
    align-self: center;
    width: 70px;
    height: 90px;
    opacity: 72%;
    font-family: "Inter";
    font-size: 77px;
    line-height: 98px;
}

.item-description {
    align-self: center;
    display: block;
}

.item-name {
    font-size: 28px;
    margin: 0;
    height: 28px;
}

.item-ingredients {
    font-size: 16px;
    color: #8B8B8B;
    margin: 9px 0 8px 0;
}

.item-price {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
}

.add-item {
    display: block;
    align-self: baseline;
    margin-top: 7px;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border: 1.5px solid #DEDEDE;
    border-radius: 50%;
    background: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 32px;
    font-weight: 200;
    color: #3C3C3C;
    text-align: center;
    cursor: pointer;
}

/* order summary */
#summary-title {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 65px;
}

#summary-title, #total-price {
    font-size: 28px;
    height: 28px;
}

#sum-to-pay {
    border-top: 2px solid #393333;
    padding-top: 15px;
    color: #0E0E0E;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 38px;
    font-size: 28px;
}

.remove {
    font-family: "Verdana", sans-serif;
    font-weight: 400;
    font-size: 12px;
    height: 12px;
    color: #BBB;
}

.item-summary, #sum-to-pay {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-summary {
    margin-bottom: 22px;
    gap: 13px;
    height: 28px;
}

#order-summary .item-price {
   margin-left: auto;
}

#complete-order {
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: "Verdana", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}